apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "email": "email@example.com",
      "master_password": "",
      "client_id": "",
      "client_secret": ""
    }
